<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Navbar</a>
	<button
		class="navbar-toggler d-lg-none"
		type="button"
		data-toggle="collapse"
		data-target="#collapsibleNavId"
		aria-controls="collapsibleNavId"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavId">
		<ul class="navbar-nav ml-auto mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="/">
					<i class="fas fa-home fa-2x mx-auto d-block"></i>
					Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/dashboard">
					<i class="fas fa-chart-area fa-2x mx-auto d-block"></i>
					dashboard
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login">
					<i class="fas fa-sign-in-alt fa-2x mx-auto d-block"></i>
					login
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register">
					<i class="fas fa-user-plus fa-2x mx-auto d-block"></i>
					register
				</a>
			</li>
		</ul>
	</div>
</nav>
